.commentGroupSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(200, 185, 255);
  border-radius: 5px;
  padding: 5px;
  overflow: auto;

  font-weight: 600;
  color: rgb(55, 0, 128);

  a {
    all: unset;
  }
}
